body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; 
}

header h1 {
    margin: 0;
    font-size: 24px; /* Ajusta el tamaño del logo*/
    color: white;
}

nav {
    margin: 0;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* es para que los elementos esten en fila */
}

nav ul li {
    margin-left: 20px; /* Espacio entre los elementos del menu */
}

nav ul li a {
    text-decoration: none;
    color: white; 
    font-size: 16px; 
}


nav ul li a:hover {
    color: #00aaff;
}

.contenido {
    text-align: left;
    padding: 50px 0;
}

.juego-contenido {
    margin-top: 20px;
}

.juego-contenido img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.juego-contenido h2 {
    margin: 20px 0 10px;
    color: #fff;
}

.juego-contenido p {
    max-width: 600px;
    margin: 0 auto;
    color: #ccc;
}

.imagenPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Nota: Hace que el ancho ocupe el 100% de la ventana */
    height: 100vh; /* NOTA: Hace que la altura ocupe el 100% de la ventana */
    overflow: hidden; /* IMPORTNTE: Oculta cualquier parte que se desborde */
}

.imagenPrincipal img {
    width: 100%;
    height: 100%;
   object-fit: cover; /* ojo aqui; Asegura que la imagen se ajuste a su contenedor sin deformarse */
}
